#about{
    -webkit-clip-path: polygon(0 0%, 100% 0%, 100% 95%, 0% 100%);
    clip-path: polygon(0 0%, 100% 0%, 100% 95%, 0% 100%);
}
.devicons{
    font-size: 60px;
    margin:8px;
    display: inline-block;
}
.languages{
    text-align: left;
    padding: 10px 0 0 50px;
}
@media screen and (max-width: 1199px){

    .languages{
        display: none;
    }

}