body{
    height: 100vh;
    /* font-family: 'Vollkorn SC', serif; */
    font-family: 'Eczar', serif;
    color: white;
    background-color: black;
}
h2{
    text-align: center;
}
section p{
    text-align: justify;
}
/* Head Section */
.head{
    height: 102vh;
    width: 100vw;
    text-align: center;
    position: relative;
    background: linear-gradient(rgba(0, 0, 0, 0.5),rgba(0, 0, 0, 0.5)), url('https://images.unsplash.com/photo-1508881598441-324f3974994b?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=2aef1e2f3895c40e891654ae51f9c1e3&auto=format&fit=crop&w=2850&q=80');
    background-position: center;
    background-attachment: scroll;
    background-size: cover;    
    /* -webkit-clip-path: polygon(0 0%, 100% 0%, 100% 100%, 0% 98%);
    clip-path: polygon(0 0%, 100% 0%, 100% 100%, 0% 98%); */
}

.head-content{
    position: relative;
    top: 20vh;   
    margin: 0 auto; 
}
.head-myname{
    font-size: 60px;
    text-align: center;
}
.head-meta{
    font-size: 24px;
    letter-spacing: 1px;
}
.email{
    font-family: monospace;
    font-size: 18px;
}
.steven-headshot{
    width: 200px;
    border-radius: 100px;
    margin: 20px;
    border: 1px solid white;
}
.slant{
    -webkit-clip-path: polygon(0 0%, 100% 5%, 100% 95%, 0% 100%);
    clip-path: polygon(0 0%, 100% 5%, 100% 95%, 0% 100%);
}
/* Sections */
section{
    min-height: 50vh;
    width: 100%;
    font-family: 'Ubuntu', sans-serif; 
    padding: 5vh 1vh;
    
       
}
/* About Section */
.about{
    background:black;
    color: white;
}
.devi-icons{
    position: relative;
    font-size: 5vw;
    position: relative;
    text-align: center;
    top: 50%;
}
.about-content{
    position: relative;
    float: right;
    text-align: justify;
}

.clearfix::after {
    content: "";
    clear: both;
    display: table;
}
/* Portfolio */
.portfolio{
    min-height: 50vh;
}

/* Port1-2 */
.port-white{
    background-color: #4F5357;
}
.port-black{
    background-color: black
}
/* Contact */



/* misc. */