header{
    background-image: linear-gradient(rgba(0, 0, 0, 0.2),rgba(0, 0, 0, 0.5)), url('../../assets/images/port-bkground.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.vh-102{
    min-height: 102vh;
}
.steven-headshot{
    width: 200px;
    border-radius: 100px;
    margin: 20px;
    border: 1px solid white;
}
.page-links{
    margin: 20px 0 0 0;
}
.page-links a{
    margin: 14px;
}
